
/* general style rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::selection{
    background: transparent;
    color:none;
}



/* body style rule */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    
}


/* container style rules */
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}


/* header and its contents style rules */
header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 20px;
  
}


/* nav style rules */
header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

/* nav logo style rules */
header nav .logo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
}


/* nav links style rules */
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

header nav ul li a{
    color:rgb(24, 149, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li a:hover{
    color:#333;
}


/* main and its contents style rules */

main{
     width: 100%;
     height: calc(100vh - 60px);
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     padding: 40px 0;
     
}

/* banner style rules */
.banner{
    width:fit-content;
    height:fit-content;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 40px;
    padding: 10px 40px;
}

/* banner text style rules */

.banner h1{
    letter-spacing: 3rem;
    font-weight: 100;
    font-size: 3rem;
    transition: transform .5s ease;
    animation: shake;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    
}



/* search section style rules */


/* the searh section */
.search{
    width:40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

/* search form */
.search .search-form{
    width:100%;
    padding:10px;
}


/* the div holding the input fields (textfield and search button) */
.search-form .input-group{
    width:100%;
    height: fit-content;
    display: flex;
}


/* the text input field */
.search-form .input-group input{
    width:100%;
    padding:10px 20px ;
    outline: none;
    border:1px solid #666;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
}


/* the search button style rules */
.search-form .input-group button{
    width: fit-content;
    padding:10px 20px ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:1px solid #666;
    outline: none;
    border-left:none;
    color:white;
    background-color: rgb(24, 149, 199);
    transition: .3s ease background-color;

}


/* when you hover on search button */
.search-form .input-group button:hover{
    background-color: darkorange;
    cursor: pointer;
    
}

.input-group button, .input-group input{
    font-size: 1rem;
    letter-spacing: 1px;
}


/* results container style rules  */
.search-result-container{
    width:0;
    height: 0;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: width 2s ease;
    transition: height 2s ease;
    transition: opacity 2s ease;
    transition: display 2s ease;

}

/*  this class is responsible for displaying the search result div */
/*  it listen to the click event on the search button  */
.show{
    display: flex;
    opacity: 1;
    width: 70%;
    height: fit-content;
 
}


/* The container that holds all the search results */
.results{
    max-width:80%;
    max-height: 210px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:1.5rem;
    background-color: whitesmoke;
  
   
    
}


/* This is the card that display all the details for each course */
.result{
    height:170px;
    width: 170px;
    background-color: white;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 32px rgba(0,0,0,.1);
    cursor: pointer;
    transition: transform .5s ease;
    margin-bottom: 5px;


}


/* this lives inside the reult div */
.result .courseProps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* turns the result card and it contents all to gray color */
.result:hover{
     filter: grayscale(1);
}

/* the course image */
.result img{
 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    
    
}

/* course title */
.result .title{
    color:rgb(24, 149, 199);
    font-size: .7rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-bottom: 2px;
    
}

/* course fee */
.result .fee{
    color:crimson;
    font-size: .6rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-top: 2px;
}


/* course duration */
.result .duration{
    color:darkorange ;
    font-size: .7rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-bottom: 2px;
}


/*  This lives inside the result div too, it holds the sigup and details link */
.result .linksBox{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;

}


/* the anchor tag for details and signup */
.result .linksBox a{
    font-size: .8rem;
    width: 50%;
    text-align: center;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    font-weight: 600;
   
    
}

.result .linksBox a:hover{
    border-bottom: 1px solid;
    
}

.result .linksBox .signup{
    color:#1895C7;
}



/* the aside container that display the details */
/* this container holds the close button, and two divs */
.detailCard{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap:1rem;
    padding: 30px 10px;
    width: 0;
    height:calc(100vh - 120px);
    right: -20%;
    top:15%;
    overflow-y: scroll;
    background-color: #222;
    transition: right 2s ease-in-out;
    color:#333;
    border: none;
    border-top-left-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,.2);

}




/* the close button style rule  */
.close{
    position: absolute;
    top:20px;
    right: 20px;
    display: block;
    width: 20px;
    display: block;
    cursor: pointer;
    

}

/* when hovering on the close button */
.close:hover{
    filter: grayscale();
}


/* the two containers inside the container that display the details */
.detailCardTop, .detailCardBottom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding:5px;
    margin-top:20px;
    
    
}
.detailCardBottom{
    gap:1.5rem;
    
}

/*  the styling of the elements inside detailCardTop div starts here  */
/* ------------------------------------------------------------------- */


/* the course image inside the top div */
.dImage{
    width:90%;
    display: flex;
    margin-top: 1px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;

}

/* this container holds the id, title, fee, and duration. */
/* it is inside the top div  */
.coursePropsCont{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap:.6rem;
    margin-top:10px;
    padding: 10px 15px;
    background-color:#F03A17;
    border-radius: 5px;
    color:whitesmoke;

}

/* the elements inside the coursePropsCont */
.dId, .dTitle, .dFee, .dDuration {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}


/*  the styling of the elements inside detailCardBottom div starts here  */
/* ------------------------------------------------------------------- */

/* The detailCardBottom contains the aboutCourseDiv, the aboutCourse div contains
courseDescription div and the courseBenefit div *
The courseDescription contains h3 and p elements as description title, and
description body respectively.
*/

.aboutCourse{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4px;
    gap: 1rem;
    padding: 10px 15px;
    background-color:#1895C7;
    border-radius: 10px;
}

.courseDesc{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    gap:.5rem;
    
}

.courseDescTitle, .benefitTitle{
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    letter-spacing: 2px;
    color:white;

}

.benefitTitle{

    color:#222;
}

.courseDescBody{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color:white;
    letter-spacing: 1px;
    font-weight: 100;
    word-spacing: 1px;
    
}

/* The benefit div styling rules */
.benefitContainer{
    
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

/*  the wrapper div inside the benefitContainer that holds the benfit
title and benefit body text */


.benefits{
    
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    padding: 10px 15px;
    background-color:white;
    border-radius: 10px;
    
}

.benefitBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    font-size: .7rem;
    color:#222;
    letter-spacing: 1px;
   
}

.benefitBody li{
    list-style-type: disc;
    margin-bottom: 3px;
}

/* this class is added to the aside detailContainer to make it visible */
.showCardDetail{
    right:0;
    width: 20%;
}

/* designing the scrollball of the results container and detailCard */
.results::-webkit-scrollbar, .detailCard::-webkit-scrollbar{
    width:10px;
    border:none;
    background: rgba(255,255,255,0.2);
    outline: none;
   
}
.results::-webkit-scrollbar-track, .detailCard::-webkit-scrollbar-track{
 
  
     background-color: #ccc;
}

.results::-webkit-scrollbar-thumb, .detailCard::-webkit-scrollbar-thumb{
    background-color: rgb(24, 149, 199);
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    
}



/* footer style rules  */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    height: 30px;
   
}

.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
}




/* animation rules for the  banner text YOOGLE*/
@keyframes shake{
    from{
        transform: rotate(2deg);
    }
    to{
         transform: rotate(-2deg);
    }
}




/* Mobile style rules */

/* All the style rules below target the screen size of not more than 660  */

/* container style rules */
@media (max-width:660px) {
    

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}


/* header and its contents style rules */
header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 0 10px;
    box-shadow: 0px 8px 16px rgba(176, 176, 176, 0.1);
    margin-bottom: 30px;
}

.error{
    color:red
}
/* nav style rules */
header nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
  
    
}

/* nav logo style rules */
header nav .logo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 35px;
    margin-bottom: 20px;
}


/* nav links style rules */
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

header nav ul li a{
    color:rgb(24, 104, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
}

header nav ul li a:hover{
    color:#333;
   
}


/* main and its contents style rules */

main{
     width: 100%;
     height: calc(100vh - 60px);
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     padding: 40px 0;
}

/* banner style rules */
.banner{
    width:70%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 10px 5px;
    background-color: whitesmoke;
  
}

/* banner text style rules */

.banner h1{
    letter-spacing: 10px;
    font-weight: 100;
    font-size: 1.8rem;
    transition: transform .5s ease;
    animation: shake;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    
}

/* search section style rules */

.search{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.search .search-form{
    width:80%;
    padding:5px;
}



.search-form .input-group input{
    width:100%;
    padding:10px 20px ;
    outline: none;
    border:1px solid #666;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
}

.search-form .input-group button{
    width: fit-content;
    padding:5px 10px ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border:1px solid #666;
    outline: none;
    border-left:none;
    color:white;
    background-color: rgb(24, 149, 199);
    transition: .3s ease background-color;
    font-size: 1rem;

}

.search-form .input-group button:hover{
    background-color: darkorange;
    cursor: pointer;
    
}

.input-group button, .input-group input{
    font-size: 1rem;
    letter-spacing: 1px;
}


/* results container style rules  */
.search-result-container{
    width:0;
    height: 0;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: width 2s ease;
    transition: height 2s ease;
    transition: opacity 2s ease;
    transition: display 2s ease;
    background-color: white;

    
}
.results{
    max-width:100%;
    max-height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:2.5rem;
    background-color: white;
  
   
    
}

.result{
    max-height:250px;
    width: 280px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0,0,0,.1);
    cursor: pointer;


}

.result:hover{
     box-shadow: 0px 8px 32px rgba(0,0,0,.1);
}

.result img{
 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    
    
}

.result .title{
    color:rgb(24, 149, 199);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-bottom: 2px;
    
}

.result .fee{
    color:crimson;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-top: 2px;
}

.result .duration{
    color:darkorange ;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 800;
    display: block;
    margin-bottom: 2px;
}

.result .linksBox{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 10px;

}

.result .linksBox a{
    font-size: .8rem;
    width: 50%;
    text-align: center;
    color:#333;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}


.show{
    display: flex;
    opacity: 1;
    width: 70%;
    height: fit-content;
}


/* footer style rules  */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: white;
}

.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    text-align: center;
    
}

.detailCard{
    position: absolute;
    padding: 30px;
    width: 100%;
    height: calc(100vh - 60px);
    right: -100%;
    overflow-y: scroll;
    top:0;
    background-color: #000;
    transition: right 1s ease;
}

.showCardDetail{
    right:0;
}


}



/*  Check the form.css for the style rules of the signup and login form  */